@keyframes fadein {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes flash-arrow {
    from{filter:brightness(2) drop-shadow(0px 2px 6px rgba(197, 197, 197, 1)) opacity(1)}
    to{filter:brightness(1) opacity(0.5)}
}

img{
    animation-name: fadein;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

body {
    font-family: 'Sansation';
    background-color: rgb(10, 10, 10);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center; 
    background-size: cover; 
    overflow-x: hidden;
}

#backdrop {
    animation: none;
    z-index: 10;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 18pt;
    width:100%;
    height:100%;
    position:fixed;
    color: white;
    margin:0;
    backdrop-filter:blur(20px);
}

#backdrop div{
    vertical-align: middle;
    width:fit-content;
    height:fit-content;
    padding: 35px 40px;
    transform:skew(5deg);
    font-size: larger;
    font-weight: bolder;
    background-image: linear-gradient(180deg, #ffffff00,#050304b0);
    user-select: none;
    cursor:pointer;
    transition-duration: 0.2s;
    transition-property: all;
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
}
#backdrop div:hover{
    background-image: linear-gradient(180deg, #ffffff40, #050304);
    transform:skew(5deg);
    border-left: 3px solid #ffffff50;
    border-bottom:3px solid #ffffff80;
    transition-duration: 0.2s;
    transition-property: all;
}
#backdrop div:active {
    border: 1px solid #a5ffb250;
    border-bottom: 1px solid #a5ffb2ff;
    filter:hue-rotate(300deg);
    background-image: linear-gradient(180deg, #a5ffb2ff, #050304);
    transition-duration: 0s; 
}

#lightbar {
    border:none;
    height: 7px;
    border-bottom: 5px solid rgb(10, 10, 10);
    box-shadow: 0 35px 40px 0 rgba(193, 219, 255, 0.555);
    animation-name: fadein;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
}

#BackgroundImage{
    background-image: url("WebsiteBackground.jpg");
    image-rendering: pixelated;
    width: 99.65%;
    height: 100%;
    opacity: 8%;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-color: black;
}

#title {
    margin: auto;
    text-align: center;
    width: 100%;
    height: 90px;
}

#title img:hover{
    cursor: pointer;
    filter: brightness(2) drop-shadow(10px 10px 4px #000000);
}

#title img:active{
    filter:invert(1)
}

#statusPane h2,h4,h5{
    margin:0.5rem;
}

#statusPane h2 {
    width: 75%;
    padding-left: 10px;
}

.online{
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 10px rgb(5, 64, 255)
}

.offline {
    color:rgb(238, 116, 85);
    text-shadow: 0px 0px 10px rgba(255, 94, 0, 0.919)
}

.flexed {
    display:flex;
    flex-direction: column;
}

#snow{
    background-image: url("snow.gif");
    background-repeat: repeat;
    background-size: 20%, 20%;
    position:fixed;
    width: 99%;
    height: 99%;
    opacity: 15%;
    z-index: -1;
}

#bottomsnow{
    background-image: url("bottomsnow.gif");
    background-repeat: repeat;
    background-size: 20%, 20%;
    width: 99%;
    height: 99%;
    opacity: 15%;
    z-index: -1;
}

.lefthanger {
    position: absolute;
    display: block;
    margin-left: -64px;
    /*cursor: pointer;*/
}

.star {
    float: right;
}
.star:hover{
    filter: brightness(3);
}
  
.star img {
    display: block;
    position: absolute;
    padding-left: 30px;
    padding-top: 95px;
}

.flower {
    float: left;
}

.flower img{
    display: block;
    position: absolute;
    padding-top: 17px;
    margin-left: 500px;
    filter: brightness(2) blur(1px);
}

.flowerpillar {
    float: left;
}

.flowerpillar img{
    display: block;
    position: absolute;
    width: 500px;
    height: 5px;
    padding-top: 48px;
    filter: blur(1px) drop-shadow(0px 2px 2px rgba(196, 196, 196, 0.788));
}

.container {
    display: grid;
    margin: auto;
    gap: 40px;
    width: 895px;
    grid-template-columns: 700px 250px; 
}

.button{
    width: 50px;
    height: 50px;
    display: block;
    animation-name: flash-arrow;
    animation-delay: 1s;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
    filter:drop-shadow(0px 2px 4px rgba(197, 197, 197, 0.5))
}

.buttongalleryright{
    margin: auto;
    grid-column-start: 3;
}


.buttongalleryleft{
    margin: auto;
    grid-column-start: 1;
}

.button:hover{
    opacity: 80%;
    filter:drop-shadow(0px 2px 3px rgba(255, 255, 255, 0.75)) brightness(2)
}

.button:active{
    opacity: 100%;
    filter:brightness(1.2)
}

#gallery{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display:grid;
    grid-template-columns: 10% auto 10%;
    width: 98.5%;
    height: 390px;
    background-image: url("art6.jpg");
    opacity: 90%;
    border-radius: 5px;
}

#gallery:hover{
    opacity: 100%;
}
#hotlink{
    margin: auto;
    display:block;
    width: 75%;
    background-color: #111;
    color: white;
    border-radius: 2px;
    border: 1px solid whitesmoke;
    overflow:auto;
}

#hotlinkimg:hover{
    filter:brightness(2)
}

.classinator {
    padding: 10px 0 10px 10px;
    color: whitesmoke;
    border: 1px rgba(64, 64, 64, 0.3) solid;
    border-radius: 4px;
    background-image: linear-gradient(to right, rgba(10, 10, 10, 0.1) 50%, rgba(175, 175, 175, 0.05));
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.075);
    animation-name: fadein;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.gright{
    background-image: linear-gradient(to left, rgba(10, 10, 10, 0.1) 0%, rgba(200, 200, 200, 0.075));
    padding-right: 10px;
}

.classinator h3 {
    width: fit-content;
    padding: 3px 10px 3px 10px;
    border-left: 5px solid #4781df;
    background-image: linear-gradient(45deg, #1e1e1e7d, transparent);
}

.classinator h3:hover{
    background-image: linear-gradient(45deg, #fffcfc21, transparent);
    border-left: 6px solid rgb(255 255 255);

    .notes{
        display: block;
    }
}

.classinator a h3 .notes{
    display: none;
    font-size: 7pt;
}

.item {
    display:flex;
    flex-direction:column;
}

a {
    text-decoration: none;
    color: rgb(71, 129, 223);
}

a:visited{
    color: rgb(71, 129, 223);
}

a:hover{
    color: whitesmoke;
    font-style: italic;
}

footer{
    margin-bottom: 0;
    height: 150px;
    width: 100%;
    bottom: 0%;
}
